@import '../../variables';

#parent {
  width: 95vw;
  height: 50em;
  // border: 3px solid red;
  margin-top: 5px;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  #top-box {
    width: 100%;
    height: 100%;
    border: 1px solid $gray;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2), 0 10px 10px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    @media (max-width: 1080px) {
      flex-flow: column nowrap;
    }

    #hover-preview {
      flex: 1; // the baseline size
      height: 12em;
      display: flex;
      flex-flow: column wrap;
      align-items: center;
      justify-content: flex-start;
      font-size: 130%;    

      @media (max-width: 1080px) {
        border: none;
        flex-flow: row wrap;
        p {
          margin: 0 .25em 0 .25em;
        }
      }

      .no-players {
        text-align: center;
        margin: auto;
        font-size: 200%;
      }

    }

    #sort-form {
      flex: 2; // this box is twice the length size of the baseline
      min-height: 100%; // we fix the height to be 100%
      display: flex;
      align-items: center;
      justify-content: center;

      app-gb-form {
        width: 100%;
        height: 100%;
      }
    }

  }

  #bottom-box {
    width: 100%;
    height: 100%; // its height is entirely dependent on the height of #top-box
    // border: 1px solid yellow;
    margin-top: 3em;

    display: flex;
    flex-flow: column nowrap;

    #game-list {
      width: 100%;
      flex: 4;
      font-size: 115%;

      table {
        height: 100%;
        width: 100%;
        border-collapse: collapse;
        border: 2px solid $green;
        text-align: left;
    
        tr:nth-child(even)  td {
          background-color: $lighter-blue;
        }
    
        .target { //the first row
          border: 2px solid $green;
        }
    
        tr:last-child td {
          border: none;
        }
        
        tr:hover {
          background-color: $green;
        }
    
        tr:hover td {
          background-color: transparent;
        }
        
        .index {
          width: 2%;
        }

        .date {
          width: 10%;
        }

        .length {
          width: 10%;
        }

        .hostname {
          width: 30%;
        }

        .gametype {
          width: 10%;
        }

        .map {
          width: 10%;
        }

      }

    }

    #list-controls {
      flex: 1;
      width: 100%;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: center;

      .item {
        margin-left: 3em;
        margin-right: 3em;
        padding: 5px;
        border-radius: 15px;
        border: 2px solid $green;        
        font-size: 200%;
        &:hover {
          border: 2px solid $gray;
        }

        .left {
          transform: scaleX(-1);
        }
      }

      .page-num {
        font-size: 250%;
      }
      
      img {
        vertical-align: middle;
      }
    }

  }

}