<div class="game-page">
  <div class="search">
    <input (input)="gameId = $event.target.value" type="text" placeholder="Enter game ID..." id="id-input" [(ngModel)]="gameId">
    <button class="button" (click)="inputSubmit()">Search</button>
  </div>
  <div *ngIf="game" class="header">
    <div class="name">
      <h2><span class="gametype">{{game.gametype}}</span> on <span class="map">{{game.map}}</span></h2>
    </div>
    <div class="date-time">
      <div class="time">
        <img src="../../assets/white-clock.png" alt="game time" width="18" height="18">
        <p>{{game.time | timePlayed}}</p>
      </div>
      <div class="date">
        {{game.date | date }}
      </div>
    </div>
  </div>
  <div class="outer-container">
    <div *ngIf="game; else elseBlock" class="the-game">
      <app-scoreboard (playerHovered)="playerHovered($event)" [game]="game"></app-scoreboard>
      <app-details [hover]="hover" [game]="game"></app-details>
    </div>
    <ng-template #elseBlock>
      <div class="no-game">
        no game selected
      </div>
    </ng-template>
  </div>
</div>
