<div *ngIf="game; else elseBlock" class="game-page">
  <div class="header">
    <h1 [innerHTML]="game.hostname | coloredName"></h1>
    <p><span class="gametype">{{game.gametype}}</span> on <span class="map">{{game.map}}</span></p>
    <div class="datetime">
      <p>{{game.date | date}}</p>  
      <div class="length">
        <img src="../../assets/white-clock.png" width="20" height="20" alt="game length">
        <p>{{game.length | timePlayed}}</p>
      </div>
    </div>
  </div>
  <div class="parent">
    <div class="top">
      <app-scoreboard (playerHovered)="playerHovered($event)" [game]="game"></app-scoreboard>
      <app-details [hover]="hover" [game]="game"></app-details>
    </div>
    <div class="bottom">
      <app-stats-list [hover]="hover" [game]="game"></app-stats-list>
    </div>
  </div>
</div>
<ng-template #elseBlock>
  <div class="elseBlock">
    <p *ngIf="waiting == false">Can't fetch game with given id: {{gameID}}</p>
  </div>
</ng-template>
