@import '../../variables';

.header {
  text-align: center;
}

.parent {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  // border: 1px solid $gray;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2), 0 10px 10px 0 rgba(0, 0, 0, 0.19);

  .form {
    width: 30em;
    height: 35em;
    border: 2px solid $orange;
  }

  .table {
    width: 70em;
    height: 35em;
    border: 2px solid $orange;
  }

}