@import '../../../variables';

.scoreboard {
  width: 100%;
  height: 100%;

  .team-game {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    
    .team {
      text-align: left;
      table-layout: fixed;
      border-collapse: collapse;
      margin: 10px;
      width: 23em;
      height: 15em;
      font-size: 105%;
      box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2), 0 10px 10px 0 rgba(0, 0, 0, 0.19);

      tr td {
        background-color: $blue;
      }
  
      tr:nth-child(odd) td {
        background-color: $lighter-blue;
      }
  
      tr:last-child td { // the last row
        border: none;
      }
  
      tr:hover {
        background-color: $green;
      }
  
      tr:hover td {
        background-color: transparent;
      }
      

      .target { // the first row in the table, the header
        border-bottom: 1px solid $gray;
        height: 3em; // this height should be fixed, or else it looks dumb
      }

      .name {
        width: 60%;
      }
      
      .score {
        width: 20%;
      }
  
      .frags {
        width: 15%;
      }

      .too-close {
        padding-left: 4px;
      }

    }
  }

  .non-team-game {
    width: 100%;
    height: 100%;
    display: flex; // so we can center things easier
    // border: 1px solid $gray;


    .duel {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: space-evenly;
      align-self: center;
      margin: auto;
      width: 100%;
      border: 2px solid $gray;
      box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2), 0 10px 10px 0 rgba(0, 0, 0, 0.19);

      .vs {
        font-size: 200%;
        color: $orange;
      }

      // https://stackoverflow.com/questions/32378953/keep-the-middle-item-centered-when-side-items-have-different-widths
      .box {
        flex: 1;
        display: flex;
        justify-content: center;
      }
      .box:first-child { margin-right: auto; }
      .box:last-child { margin-left: auto;  }

      .player {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
        padding: 4em 1em 4em 1em;
        margin: 5px;
        border: 1px solid transparent;


        &:hover {
          border: 1px solid $orange;
        }

        .name {
          font-size: 225%; // about as big as we can make it without breaking things
        }

        .score {
          color: $green;
          font-size: 175%;
        }

        .kd {
          color: $green;
        }
      }

      

      
    }

    .not-duel {

      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      align-self: center; // this is why we need display:flex on the parent container (centers vertically)
      margin: auto; // center horizontally
      max-height: 100%;
      font-size: 150%;
      border: 2px solid $gray;
      box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2), 0 10px 10px 0 rgba(0, 0, 0, 0.19);
      padding: 0.25em 2em 0.25em 2em;

      .entry {
        display: flex;
        flex-flow: row nowrap;
        align-self: flex-start; // make every item start at the same spot so everything lines up nice
        padding: 5px; // put some extra space between items
        border: 1px solid transparent; // so that when we actually hover, the newly drawn border doesnt move things around

        &:hover {
          border: 1px solid $orange;
        }

        p {
          padding: 0 3px 0 3px; // put some extra space between the items in the items (lol)
        }

        .score {
          color: $green;
        }

        .first {
          color: gold; // gold
        }
  
        .second {
          color: rgb(226, 222, 222); // silver-ish
        }
  
        .third {
          color: #a05811; // bronze-ish
        }
        
        .other {
          color: rgba(255, 0, 0, 0.438);
        }
      }



    }
  }

  .forbidden {
    color: $forbidden;
    
  }
  
  .forbidden-table {
    border: 2px solid $forbidden;
  }
  
  .icy {
    color: $icy;
  }
  
  .icy-table {
    border: 2px solid $icy;
  }

}