<div id="about">
  <h1>About Warmama-Stats</h1>
  <div class="container">
    <div class="left">
      <h2>Content</h2>
      <ol>
        <li>
          Game Page
          <p>
            This page displays a game. It includes the end-screen scoreboard, player stats,
            and additional information, such as the player with the most frags, score, damage, etc.
          </p>
          <p>
            You can hover over a player in the scoreboard to view their stats.
            You can also click on a player to go to their player page.
          </p>
        </li>
        <li>
          Game Browser
          <p>
            This page lets you browse the games in the database. You can filter by gametype,
            map, and player name. Clicking on a game in the table will take you to the game page.
          </p>
        </li>
        <li>
          Player Page
          <p>
            This page shows you statistics for a certain player. Individual players are identified by
            their nickname (this is the only way).
          </p>
          <p>
            You can view graphs of their weapon accuracy and damage across all games,
            filterable by gametype.
          </p>
        </li>
        <li>
          Player Browser
          <p>
            This page lets you browse through every player in the database. You can filter the list
            by name. Clicking on a player will show their basic stats, as well as 10 of their most recent
            games.
          </p>
          <p>
            You can click on a recent game to view that game page. There is also a link to the player page.
          </p>
        </li>
      </ol>
    </div>
    <div class="right">
      <h2>Development</h2>
      <p>This project is a work-in-progress and is developed in my spare time.</p>
      <p>The frontend is built using Angular.</p>
      <p>The backend uses node/express for the api endpoints, and pulls data from a MySQL database.</p>
      <p>
        The project is open-source and available on GitHub; If you would like a link, just ask me.
        This is my first major project in the world of web development, so be warned :)
      </p>
      <p>More information about how the project was developed is available in the GitHub repo.</p>
      <p>If you have questions or comments, please message me on Discord: Minionsman#9753</p>
    </div>
  </div>
</div>