<div id="root">
  <h1>Warmama Stats</h1>
  <div class="nav-bar">
    <ul>
      <li>
        <a routerLink="/home">Home</a>
      </li>
      <li>
        <button mat-button color="primary" [matMenuTriggerFor]="menu">Browser</button>
        <mat-menu #menu="matMenu">
          <a mat-menu-item href="/browser/games">Games</a>
          <a mat-menu-item href="/browser/players">Players</a>
        </mat-menu>
        <!-- <a routerLink="/browser">Browser</a> -->
      </li>
      <li>
        <a routerLink="/game">Game</a>
      </li>
      <li>
        <a routerLink="/about">About</a>
      </li>
    </ul>
  </div>
  <router-outlet></router-outlet>
</div>
