<div class="details">
  <div *ngIf="hover; else elseBlock" class="hover-info">
    <h2 [innerHTML]="hover.colored_name | coloredName"></h2>
    <div *ngIf="game.teamgame == 0">
      <p>not a team game</p>
    </div>
    <div *ngIf="game.teamgame == 1" class="teamgame">
      <div class="damage">
        <p class="title">Damage</p>
        <p>Dealt: {{hover.dmg_given}}</p>
        <p>Taken: {{hover.dmg_taken}}</p>
        <p *ngIf="getDamageRatio(hover) as num">Ratio: <span [class.green]="num == 1" [class.green]="num > 1"  [class.red]="num < 1">{{num | number: '1.2-2'}}</span></p>
      </div>
      <div class="frags">
        <p class="title">Frags</p>
        <p>Frags: {{hover.frags}}</p>
        <p>Deaths: {{hover.deaths}}</p>
        <p *ngIf="getKDRatio(hover) as num">Ratio: <span [class.green]="num == 1" [class.green]="num > 1" [class.red]="num < 1">{{num | number: '1.2-2'}}</span></p>
      </div>
    </div>
  </div>
  <ng-template #elseBlock>
    <!-- showing general information about the game -->
    <div class="game-info">

    </div>
  </ng-template>
</div>
