/* You can add global styles to this file, and also import other style files */

@import './variables';

*{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: $blue;
  color: $gray;
}

html, body {
  height: 100em;
  margin: 0;
  padding: 0;
}

.coloredname {
  background-color: transparent;
}

